body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav {
  margin-bottom: 30px;
}

main div {
  display: flex;

  gap: 40px;
}

section {
  flex-direction: column;

  flex: 4;
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

aside img {
  max-width: 100px;
}
li {
  list-style: none;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: gray;
}
